<div class="col-md-12 text-center background_yellow border">

    <table class="table table-bordered table-hover">
        <tr>
            <th>Bild</th>
            <th>Product Namn</th>
            <th>Antal</th>
            <th>Pris</th>
        </tr>
        <tr ng-repeat="product in cartInfo ">
            <td><img ng-src="{{product.productImage}}"></td>
            <td>{{product.productName}}</td>
            <td>{{product.quantity }}</td>
            <td>{{product.productPris }}</td>


        </tr>
    </table>

    <div class="col-md-6" action="/products">
        <a class="btn btn-danger"  ng-click="buy(product)">
            <span class="glyphicon glyphicon-shopping-cart "></span>  KÖP
        </a>

        <a class="btn btn-primary btn" href="/products">Handla mer</a>

    </div>
</div>