<div class="col-md-12 text-center background_yellow border">

    <table class="table table-bordered table-hover">
        <tr>
            <th>Bild</th>
            <th>Product Namn</th>
            <th>Antal</th>
            <th>Pris</th>
            <th>Totalt</th>
        </tr>
        <tr ng-repeat="product in cartInfo ">
            <td><img id ="cartImg" ng-src="{{product.productImage}}"></td>
            <td>{{product.productName}}</td>
            <td>{{product.quantity }}</td>
            <td>{{product.productPris }}</td>
            <td>{{product.productPris*product.quantity}}</td>
        </tr>
    </table>
    <td> Total orderpris: </td>
    <td>{{total}} kr</td>

    <div class="col-md-6" action="/products">
        <p ng-show="cartInfo.length==0" style="color:red">Varukorg är tomt</p>
        <a class="btn btn-danger"  ng-disabled="cartInfo.length==0"  ng-click="buy(product)">
            <span class="glyphicon glyphicon-shopping-cart "></span>  KÖP
        </a>


        <a class="btn btn-primary btn" href="/products">Handla mer</a>

    </div>
</div>