<div class="col-md-6">

    <h1>Welcome!</h1>
    <h2>Create an account</h2>

    <label>First name: {{customer.firstName}}</label><br>
    <input type="text" placeholder="First name..." ng-model="customer.firstName"><br><br>
    <label>Last name: {{customer.lastName}}</label><br>
    <input type="text" placeholder="Last name..." ng-model="customer.lastName"><br><br>
    <label>Email: {{customer.email}}</label><br>
    <input type="email" placeholder="Email..." ng-model="customer.email"><br><br>
    <label>Password: {{customer.password}}</label><br>
    <input type="password" placeholder="Password..." ng-model="customer.password"><br><br>
    <label>Phone: {{customer.phone}} </label><br>
    <input type="text" placeholder="Phone..." ng-model="customer.phone"><br><br>
    <label>Address: {{customer.address}}</label><br>
    <input type="text" placeholder="Address..." ng-model="customer.address"><br><br>
    <label>Postalcode: {{customer.postalCode}}</label><br>
    <input type="text" placeholder="Postalcode..." ng-model="customer.postalCode"><br><br>
    <label>City: {{customer.city}}</label><br>
    <input type="text" placeholder="City..." ng-model="customer.city"><br><br>

    <a class="btn btn-info" role="button" ng-click="createCustomer()">Save</a>

</div>