<div class="row">
    <div class="col-md-12" action="/products">

        <hr>
        <table class="table table-hover table-striped table-condensed">
            <thead>
            <tr>
                <th>Product Namn</th>
                <th>Bild</th>
                <th>Beskrivning</th>
                <th>Pris</th>
                <th>Kategori</th>
            </thead>
            <tbody>
            <tr>
                <td><img ng-src="{{product.imageUrl}}"></td>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.price }} kr</td>
                <td>{{ product.categoryName }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-3" action="/products">
        <input class="form-control" type="number" placeholder="Antal" min="1" ng-model="antal"><br>
        <button class="btn btn-danger" ng-click="addToCart(product)" href="/products">Lägg till vagn</button>

        <a class="btn btn-primary btn" href="/products">Avbryt</a>

    </div>
</div>